src/main/mule/cicd-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="03f4c332-6123-4a92-9257-fab6f4608be2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-projectFlow" doc:id="97788ff4-89f5-49c7-b2c9-8cb9eb13311b" >
		<http:listener doc:name="Listener" doc:id="f5a92cf3-3dce-40b3-ab6f-9dffb4d71270" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="3612db64-2ee0-4ed9-8b9e-83a3385cff4a" message="started"/>
		<ee:transform doc:name="Transform Message" doc:id="5b708359-8728-4c4c-94c7-a0763e268d30" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": "success",
	"message": "cicd auto deployment successfully completed"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="538f0b60-3762-460d-a614-296ab94c3e78" message="#[payload]"/>
	</flow>
</mule>
