src/main/mule/cicd-deployment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="faf97648-92b4-4c2e-a3a8-f851033b47d8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-deploymentFlow" doc:id="a10f0acf-c041-4c8d-8696-a73ae145952c" >
		<http:listener doc:name="Listener" doc:id="72fa95b9-18cb-495c-b024-75d391f97621" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="bcd206c4-5c8d-4d24-8912-2b6f3824470d" />
		<ee:transform doc:name="Transform Message" doc:id="d18144aa-0e3c-463d-94be-266cb7270d59" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
//	"status": "success",	
	"message": "cicd auto deployment successfully completed"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3f58ec8e-9ab7-4ae5-be03-26fc4c4741b7" message="#[payload]"/>
	</flow>
</mule>
